<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="wrapper">

        <button class="btn-menu toggle-btn" id="bt1">
            <img src="../../img/menu.png" alt="Logo Menu">
        </button>


        <div class="logo-container" onclick="window.location.href = window.location.href;">
            <img src="../../img/el-wh2.png" alt="Logo de Elite League">
        </div>
        <!--
            <form th:action="@{/login}" method="get">
                <button type="submit" class="boton" id="bt2">Iniciar Sesión</button>
            </form>

            <a th:href="@{/login}" class="btn-iniciarsesion" id="bt2">Iniciar Sesión</a>
         -->

        <div class="btn-perfil">

        </div>

    </div>


    <aside id="sidebar">
        <ul class="sidebar-nav">

            <div class="sidebar-separator">Home</div>

            <li class="sidebar-item">
                <a th:href="@{http://localhost:8082/}" class="sidebar-link">
                    <i class="fa-solid fa-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <div class="sidebar-separator">Intefaces</div>

            <!-- APARTADO USUARIO-->

            <li class="sidebar-item">
                <a th:href="@{/competencia/all}"
                   sec:authorize="hasRole('USER')"
                   class="sidebar-link">
                    <i class="fa-solid fa-trophy"></i>
                    <span>Competencias</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/inscripcion/historial}"
                   sec:authorize="hasRole('USER') or hasRole('ADMIN') or hasRole('GESTOR')"
                   class="sidebar-link">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Historial</span>
                </a>
            </li>


            <!-- APARTADO GESTOR Y ADMIN-->

            <li class="sidebar-item">
                <a th:href="@{/competencia/all}"
                   sec:authorize="hasRole('ADMIN') or hasRole('GESTOR')"
                   class="sidebar-link">
                    <i class="fa-solid fa-gears"></i>
                    <span>Gestionar Competencias</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/competencia/add}"
                   sec:authorize="hasRole('ADMIN') or hasRole('GESTOR')"
                   class="sidebar-link">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Creación de Competencias</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/categoria/add}"
                   sec:authorize="hasRole('ADMIN') or hasRole('GESTOR')"
                   class="sidebar-link">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Agregar Categoría</span>
                </a>
            </li>

            <!-- APARTADO GESTOR-->

            <li class="sidebar-item">
                <a th:href="@{/competencia/mis_competiciones}"
                   sec:authorize="hasRole('GESTOR')"
                   class="sidebar-link">
                    <i class="fa-solid fa-bullseye"></i>
                    <span>Mis Competiciones</span>
                </a>
            </li>

            <!-- APARTADO ADMIN-->

            <li class="sidebar-item">
                <a th:href="@{/usuario/all}"
                   sec:authorize="hasRole('ADMIN')"
                   class="sidebar-link">
                    <i class="fa-solid fa-users-gear"></i>
                    <span>Gestionar Usuarios</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/puntuacion/all}"
                   sec:authorize="hasRole('ADMIN')"
                   class="sidebar-link">
                    <i class="fa-solid fa-star"></i>
                    <span>Puntuaciones Globales</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a th:href="@{/inscripcion/all}"
                   sec:authorize="hasRole('ADMIN')"
                   class="sidebar-link">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <span>Inscripciones Globales</span>
                </a>
            </li>
        </ul>



        <div class="sidebar-footer">
            <a th:href="@{/logout}" class="sidebar-link">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Salir</span>
            </a>
        </div>

        <div class="sidebar-footer">
            <p class="role-info text-white bg-dark p-3 rounded d-flex align-items-center">
                <strong class="mr-2">Rol actual:</strong>
                <span th:text="${#authentication.principal.authorities}">No disponible</span>
            </p>
        </div>


    </aside>

    <script src="../../js/script_menu.js"></script>
</header>