<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<div class="main-login">
    <div class="contentLogin">
        <img src="img/el-wh2.png" alt="Logo de Elite League" class="logo">

        <h1 class="texto" style="--size-font: 1.8rem; margin-top: 50px; margin-bottom: 15px">Iniciar Sesion</h1>
        <h2 class="texto" style="--size-font: 1rem; margin-bottom: 35px">Va a ser increible</h2>

        <form th:action="@{/login}" class="formulario" method="post" th:object="${usuario}">
            <!-- Correo-->
            <div class="form-group">
                <input type="email" class="form-control" id="correo" name="correo" th:field="*{correo}"
                       placeholder="Tu Email" required>
            </div>

            <!-- Contraseña -->
            <div class="form-group" style="margin-bottom: 20px">
                <input type="password" class="form-control" id="contrasena" name="contrasena" th:field="*{contrasena}"
                       placeholder="Tu Contraseña" required>
            </div>

            <div th:if="${error}" role="alert" class="text"
                 style="color: rgb(255,0,0); text-shadow: 0px 0px 1px rgb(255,0,0)">
                <p th:text="${error}"></p>
            </div>

            <button type="submit" class="btn-iniciar">Aceptar</button>

            <!-- Enlace para registro -->
            <a th:href="@{/registro/addusuario}" class="btn-notienescuenta">¿No tienes cuenta? Regístrate aquí</a>

        </form>
    </div>
</div>

</body>
</html>
