<th:block th:replace="layout/head :: head"></th:block>

<body>
<div class="main-login">
    <div class="content-login">

        <img src="img/el-wh2.png" alt="Logo de Elite League" class="logo">

        <h1>Iniciar Sesión</h1>
        <h2>Va a ser increíble</h2>

        <form th:action="@{/login}" method="post">
            <!-- Correo -->
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Tu Email" required>
            </div>

            <!-- Contraseña -->
            <div class="form-group" style="margin-bottom: 20px">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Tu Contraseña" required>
            </div>

            <!-- Mensaje de error si hay problemas en el login -->
            <div th:if="${param.error}" class="alerta">
                <p>Correo o contraseña incorrectos</p>
            </div>

            <button type="submit" class="btn-w-100">Aceptar</button>

            <!-- Enlace para registro -->
            <a th:href="@{/registro/addusuario}">¿No tienes cuenta? <strong>Regístrate aquí</strong></a>

        </form>

    </div>
</div>

</body>
</html>
