<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/head :: head"></th:block>

<body>

<div th:replace="layout/header :: header"></div>

<th:block th:replace="layout/background :: background"></th:block>

<div class="main-content">
    <div class="content-inicio">
        <h2>Agregar Puntuación</h2>
        <div style="width: 100%;">
            <form th:action="@{/puntuacion/save}" method="post">
                <div class="model-input">
                    <label>Participante:</label>
                    <div class="model-input-container">
                        <i class="fa fa-user"></i>
                        <select class="model-cont-input" name="inscripcionId" required>
                            <option th:each="inscrito : ${inscritos}"
                                    th:value="${inscrito.id}"
                                    th:text="${inscrito.usuarioByUsuario.nombre}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="model-input">
                    <label>Puntuación:</label>
                    <div class="model-input-container">
                        <i class="fa fa-star"></i>
                        <input class="model-cont-input" type="number" name="puntaje" required min="0">
                    </div>
                </div>


                <div style="display: flex; align-content: center; justify-content: center">
                    <button class="btn-w-c-1" type="submit">Guardar</button>
                </div>
            </form>

            <!--
            <a  href="/competicion/list">Volver</a> -->
        </div>
    </div>
</div>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>
