:root {
    --negro: #252932;
    --btn: #3d6aae;
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

.text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translatex(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    position: fixed;
    z-index: -1;
    overflow: hidden;

    top: 0;
    left: 0;

    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

    svg {
        display: none;
    }

    .gradient-container {
        filter: url("#goo") blur(40px);
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);

        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle0size) / 2);

        transform-origin: center center;
        animation: moveVertical 30s ease infinite;

        opacity: 1;
    }

    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);

        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle0size) / 2);

        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;

        opacity: 1;
    }

    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);

        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle0size) / 2 - 500px);

        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;

        opacity: 1;
    }

    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);

        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle0size) / 2);

        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;

        opacity: 1;
    }

    .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5 dd), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);

        top: calc(50% - var(--circle-size) * 2);
        left: calc(50% - var(--circle0size) * 2);

        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;

        opacity: 1;
    }

    .interactive {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;

        opacity: 0.7;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* O el peso que prefieras como predeterminado */

    width: 100%;
    min-height: 100vh; /* Se ajusta al tamaño del contenido o al viewport */

    margin: 0; /* Asegúrate de eliminar márgenes */
    padding: 0; /* Asegúrate de eliminar relleno */

    /*
    background: url("../img/fn4.png") no-repeat center center;
    background-size: user-container;
    background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll (opcional) */


}

/* HEADER */
header {
    width: 100%; /* Establecemos que el header abarque el 100% del documento */
    overflow: hidden; /* Eliminamos errores de float */

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

.wrapper {
    height: 100px; /* Altura del header */

    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Botones a los extremos, logo al centro */
    padding: 10px 20px; /* Espaciado interno */
    background-color: rgba(5, 5, 5, 0.8);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    position: relative; /* Permite el centrado absoluto del logo */
}

/* CAMBIO SI ES MENOR A */
@media (max-width: 1000px) {
    .wrapper {
    }
}

/* FOOTER */
footer {
    width: 100%; /* Establece el ancho al 100% */
    background-color: rgba(5, 5, 5, 0.8);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    color: white; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Alinea el texto al centro */
    position: fixed; /* Fija el footer al fondo */
    bottom: 0; /* Pegado al fondo */
    left: 0; /* Alineado al borde izquierdo */
    bottom: 0;

    z-index: 999;
}

footer p {
    margin-bottom: 0;
}

/* HEADER BOTÓN INCIAR SESIÓN */
.btn-iniciarsesion {
    background-color: transparent; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid #ffffff;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    box-shadow: 0 0 2px #ffffff, /* Brillo sutil cerca del texto */ 0 0 5px #e0e0e0, /* Brillo medio grisáceo */ 0 0 8px #b0b0b0; /* Brillo difuso */
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
}

.btn-iniciarsesion:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-iniciarsesion:hover {
    background-color: #ffffff; /* Color al pasar el cursor */
    color: black;

    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.6); /* Sombra suave */
}

.btn-iniciarsesion:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

/* HEADER BOTÓN MENÚ */
.btn-menu img {
    max-height: 40px; /* Ajusta el tamaño del logo */
    transition: transform 0.3s ease-in-out; /* Transición suave para la imagen */
}

.btn-menu {
    background-color: transparent;
    border: none;
    padding: 5px; /* Espaciado alrededor de la imagen */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn-menu:hover {
    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    opacity: 0.5;
}

.btn-menu:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño */
}

.btn-menu:focus {
    outline: none;
}

/* BOTÓN PÉRFIL */
.btn-perfil img {
    max-width: 50px; /* Ajusta el tamaño del logo */
    transition: transform 0.3s ease-in-out; /* Transición suave para la imagen */
}

.btn-perfil {
    background-image: url('../../img/user-icon.png');
    width: 50px;
    height: 50px;
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;

    border-radius: 50%;
    border: 2px solid white;

    background-size: cover; /* O usa 'contain' si quieres ver toda la imagen */
    background-position: center;
    background-repeat: no-repeat;
}

.btn-perfil:hover, .btn-perfil:focus {
    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    opacity: 0.5;
    outline: none;
}

.btn-perfil:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño */
}

/* LOGO */
.logo-container {
    position: absolute; /* Posición absoluta */
    left: 50%; /* Mueve el logo al 50% del ancho */
    transform: translateX(-50%); /* Centra el logo horizontalmente */
    text-align: center; /* Asegura el centrado del contenido */
}

.logo-container img {
    max-height: 80px; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Evita deformaciones */
}

/* MAIN - CONTENT */
.main-content {
    padding-top: 130px; /* Igual a la altura del header */
    padding-bottom: 98px;

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    width: 100%;
}

@media (max-width: 1000px) {
    .main-content {
        padding-top: 120px; /* Igual a la altura del header */
    }
}

.content-inicio {
    width: 60%;
    color: white;

    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    padding: 30px;

    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .content-inicio {
        width: 95%;
    }
}

.content-inicio h2 {
    font-size: 3em;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;

    margin-bottom: 30px;
}

.sub-content-inicio {
    width: 95%;

    color: white;

    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.6);

    display: grid; /* Crea un contenedor de cuadrícula */
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    align-items: stretch; /* Asegura que las alturas sean iguales */
    gap: 20px; /* Espaciado entre columnas */

    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .sub-content-inicio {
        grid-template-columns: 1fr; /* Dos columnas de igual ancho */
        gap: 5px;
    }
}

.sub-content-inicio-izq,
.sub-content-inicio -der {
    box-sizing: border-box; /* Incluye padding en las dimensiones */
}

/* IZQUIERDO */
.sub-content-inicio-izq img {
    width: 100%; /* La imagen ocupa el 100% del ancho */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.sub-content-inicio-izq {
    width: 100%;

    border-top-right-radius: 10px; /* Esquina superior derecha */
    border-bottom-right-radius: 10px; /* Esquina inferior derecha */

    overflow: hidden; /* Oculta cualquier contenido que se salga */
    display: flex; /* Centrar el contenido opcionalmente */
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .sub-content-inicio-izq {
        height: 150px !important;

        border-top-right-radius: 0px; /* Esquina superior derecha */
        border-bottom-left-radius: 10px; /* Esquina inferior derecha */
    }
}

/* DERECHO */
.sub-content-inicio-der {
    padding: 40px 80px 40px 40px;

    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: start; /* Opcional: Alinea los elementos al inicio */
}

@media (max-width: 1000px) {
    .sub-content-inicio-der {
        padding: 15px;
    }
}

.sub-content-inicio-der h1 {
    margin: 15px 0;

    font-size: 1.8em;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.sub-content-inicio-der p {
    margin: 5px 0;
    line-height: 1.8; /* Ajusta el espaciado entre líneas */
}

/* INICIO BOTON WITH CONTENT */
.btn-w-c-1 {
    cursor: pointer;
    background-color: transparent;
    color: white;

    padding: 15px 25px;

    border: white 2px solid;
    border-radius: 100px;

    margin-top: 20px;

    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-w-c-1:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-w-c-1:hover {
    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    color: white;
    outline: none;
}

.btn-w-c-1:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
}


/* ? */
/* INICIO?? */
.content {
    margin-top: 60px;

    width: 80%;
    height: 500px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;

    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5)
}

/* ? */

/*
 Placeholder personalizado
.form-control::placeholder {
    color: #aaa;  Color del texto del placeholder
    font-style: italic;  Texto en cursiva
}
 */


/* LOGIN */
.main-login {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.content-login {
    max-width: 24.75rem;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    border-radius: 10px;

    padding: 1.875rem;
    margin: 2rem auto;
}

@media (max-width: 1000px) {
    .content-login {
        width: 85%;
    }
}

.content-login img {
    max-height: 95px; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Evita deformaciones */

    margin-bottom: 20px;
}

.content-login h1 {
    margin-top: 30px;
    margin-bottom: 15px;

    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.content-login h2 {
    margin-bottom: 35px;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.btn-w-100 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    background-color: #2f72ba;
    color: white; /* Color del texto */
    border: none;
    padding: 25px 15px; /* Espaciado interno */
    font-size: 1.2em; /* Tamaño de fuente */

    border-radius: 10px; /* Bordes redondeados */

    cursor: pointer !important; /* Cursor de mano */

    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
}

.btn-w-100:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-w-100:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.07); /* Reduce ligeramente el tamaño */
}

.btn-w-100:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
}

.content-login form {
    width: 100%;
    display: flex; /* O display: block si no necesitas diseño flex */
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Opcional: centra los elementos verticalmente si es necesario */

    margin: 0;
    padding: 0;
}

/* INPUT */
.form-group {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    color: #ffffff; /* Color del texto */
}

.form-control {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 28px 15px; /* Espaciado interno */
    font-size: 1em; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde estándar */
    border-radius: 2px; /* Bordes redondeados */
    background-color: rgba(249, 249, 249, 0.2); /* Color de fondo */

    color: #ffffff; /* Color del texto */
    outline: none; /* Elimina el contorno al enfocar */
    text-align: center;

    transition: border-color 0.5s ease;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Cambia el color del placeholder */
}

/* Estilo al enfocar el campo */
.form-control:focus {
    background-color: rgba(249, 249, 249, 0.2); /* Color de fondo */
    color: #ffffff; /* Color del texto */

    border-width: 0 0 2px 0;
    border-color: #ffffff;
    border-style: solid;

    box-shadow: none;
}

.form-group {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    color: #ffffff; /* Color del texto */
}

.input-icon {
    position: relative; /* Permite posicionar el ícono dentro del contenedor */
    display: flex;
    align-items: center;
    width: 100%;
}

.input-icon i {
    position: absolute;
    left: 20px; /* Ajusta el espaciado del ícono */
    font-size: 1.2em;
    color: #ffffff; /* Color del ícono */
    pointer-events: none; /* Evita que el ícono sea interactivo */

    top: 50%; /* Posiciona el ícono en el centro vertical */
    transform: translateY(-50%) translateY(3px); /* Baja el ícono 10px */
}

.form-control-register {
    width: 100%;

    padding: 25px 15px 15px 55px;

    font-size: 1.2em;

    background-color: var(--negro);
    color: white;

    outline: none;

    transition: border-color 0.5s ease;

    border: none;
}

.form-control-register::placeholder {
    color: rgba(255, 255, 255, 0.85); /* Cambia el color del placeholder */
}

.content-login form a {
    color: white;
    margin-top: 40px;

    font-size: 1.1em;

    background-color: transparent;

    align-items: center;

    transition: color 0.3s ease,
    transform 0.3s ease; /* Transición para el color y escala */
}

.content-login form a:hover {
    color: white;
    transform: scale(1.07); /* Reduce ligeramente el tamaño */
}

.content-login form a:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.content-login form a:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
}

/* ALERTA */
.alerta {
    color: #721c24;
    background-color: #f8d7da;
    border: #721c24 2px solid;
    border-radius: 10px;

    padding: 10px;

    margin-bottom: 20px;
}

.alerta p {
    margin: 0;
    padding: 0;
}

/* MENU */

/* Barra lateral */
#sidebar {
    width: 450px;
    height: calc(100vh - 164px);

    display: flex;
    position: fixed;

    left: -260px;
    top: 100px;
    bottom: 64px;

    z-index: 1000;

    flex-direction: column;

    background-color: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(10px);

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;

    opacity: 1;
}

@media (max-width: 1000px) {
    #sidebar {
        width: 100%;
    }
}

#sidebar.expand {
    transform: translateX(260px);
    opacity: 1;
}

.sidebar-space {
    background-color: #393939;
    width: 100%;
    height: 12px;
}

.sidebar-separator {
    padding: 0.8rem 1.8rem 0.2rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}


.sidebar-link {
    color: #fff;
    text-decoration: none;
}

/* Icono */
.sidebar-link i {
    font-size: 1.15rem;
}

.sidebar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

.sidebar-link i {
    font-size: 1.15rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #ffffff;
    width: 100%;
}

.sidebar-nav {
    padding: 10px 0px 10px 0px;
    flex: 1 1 auto;
}

.sidebar-footer {
    display: flex;
    align-items: center;
}

/*  COMPETICIONES */
.compe-container {
    color: white;

    border: none;
    border-radius: 10px;

    width: 348.5px;
    overflow: hidden; /* Asegura que nada sobresalga */

    margin: 10px 0;
}

@media (max-width: 1000px) {
    .compe-container {
        width: 100%;
    }
}

.compe-container-sup {
    background-color: rgb(37, 41, 50, 0.8);
    display: flex;
    height: 150px; /* Altura total de la sección superior */
    width: 100%;
}

.compe-container-sup-izq {
    overflow: hidden;

    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.compe-container-sup-izq img {
    width: auto;
    height: 100%;
}

.compe-container-sup-der {
    width: 50%;

    display: flex;
    flex-direction: column; /* Coloca los hijos en una columna */
    align-items: flex-end; /* Alinea al extremo derecho */
    justify-content: center; /* Centra verticalmente el contenido */

    gap: 15px; /* Espaciado entre los elementos */

    padding-right: 10px;
}

.grupal-indi {
    height: 22px;

    border: white 2px solid;
    border-radius: 100px;

    padding: 10px 10px;
    font-size: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3px;
}

.grupal-indi i {
    margin: 0;
    padding: 0;
}

.grupal-indi p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.compe-container-inf {
    background-color: rgb(37, 41, 50, 0.8);
    width: 100%;
    height: auto;
    padding: 20px;
}

.compe-container-inf h1 {
    font-size: 2.2em;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;

    margin-bottom: 20px;
}

.compe-container-inf-cont {
    display: flex;
    flex-direction: column;

    background-color: var(--negro);
    padding: 15px;

    width: 100%;
}

.compe-container-inf-item {
    font-size: 1.1em;

    display: flex;
    align-items: center;
    gap: 15px; /* Espaciado entre el ícono y el texto */
    border: none;

    margin: 5px 0;
}

.compe-container-inf-item p {
    transform: translateY(40%);

    font-size: 0.9em;
    font-weight: 300;
}

.compe-container-inf-cont-circulo {
    padding: 8px 10px;
    border-radius: 50%;
    border: white 2px solid;
}

.btn-w-100-outline-0-1 {
    width: 100%;
    background-color: transparent;
    color: white;

    border: white 2px solid;

    padding: 15px 0px;
    font-size: 1.2em;

    border-radius: 10px;

    cursor: pointer; /* Cursor de mano */

    margin-top: 20px;

    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
}

.btn-w-100-outline-0-1:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-w-100-outline-0-1:hover {
    background-color: white;
    color: black;
    transform: scale(1.07); /* Reduce ligeramente el tamaño */
}

.btn-w-100-outline-0-1:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
}

/* USUARIOS */
.user-container {
    color: white;

    border: none;
    border-radius: 10px;

    width: 348.5px;
    overflow: hidden; /* Asegura que nada sobresalga */

    margin: 10px 0;

    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .user-container {
        width: 100%;
    }
}

.user-container-sup {
    background-color: rgb(255, 255, 255, 0.15);
    background-image: url("./../img/user-icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    backdrop-filter: blur(20px);

    padding: 10px;
    background-origin: content-box;
    display: flex;
    height: 150px; /* Altura total de la sección superior */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container-sup img {
    background-color: black;
    width: auto;
    height: 100%;

    border-radius: 50%;
}

.user-container-inf {
    background-color: rgb(37, 41, 50, 0.8);

    width: 100%;
    height: auto;
    padding: 20px;
}

.user-container-inf h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.user-container-inf p {
    font-size: 1em;
    margin-bottom: 5px;
}

.user-container-btn {
    margin-top: 2px;
    background-color: rgb(37, 41, 50, 0.8);

    /*
    display: flex;
    justify-content: center;
    align-items: center;*/

    padding: 15px;

    gap: 10px;

    display: grid; /* Configura el contenedor como una cuadrícula */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
}


.user-container-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
    padding: 10px 13px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    color: white;
}


.btn-edit {
    background-color: transparent;

    border: white 1px solid;
    color: white;
}


.btn-edit:hover {
    background-color: #FFC107;
    border: transparent 1px solid;
    color: black;
}

.btn-delete {
    background-color: transparent;

    border: white 1px solid;
    color: white;
}

.btn-delete:hover {
    background-color: #d32f2f;
    border: transparent 1px solid;
    color: black;
}

.btn-default {
    background-color: transparent;

    border: white 1px solid;
    color: white;
}


.btn-default:hover {
    background-color: #ffffff;
    border: transparent 1px solid;
    color: #000000;
}


/* styles.css botones competencias*/
.button-container {
    text-align: center;
    margin-bottom: 20px;  /* Espaciado opcional entre los botones y el contenido inferior */
}

.bubbly-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);

    border: 2px solid #ffffff;
    color: #ffffff;

    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.bubbly-button i {
    margin-right: 8px;
    font-size: 20px;
}

.bubbly-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    transform: scale(1.05);
    outline: none;
}

.bubbly-button:active {
    background-color: rgb(255, 255, 255);
    color: #000000;
    transform: scale(0.98);
}

.wrap-organizador {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}

.scale {
    transition: transform 0.3s;
}

.scale:hover, .scale:focus {
    transform: scale(1.1);
}

.scale:active {
    transform: scale(1);
}