<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="layout/head :: head"></th:block>

<body>
<div th:replace="layout/header :: header"></div>

<th:block th:replace="layout/background :: background"></th:block>

<div class="main-content">

    <div class="content-inicio">
        <h2>INICIO</h2>

        <!-- Tarjetas -->
        <div class="sub-content-inicio">
            <div class="sub-content-inicio-der">
                <h1>Competencias</h1>

                <p>
                    Explora una amplia variedad de competencias diseñadas
                    para todos los gustos e intereses. Inscríbete en aquellas
                    que se alineen con tus pasiones y objetivos, y demuestra
                    tus habilidades mientras te diviertes y te desafías.
                    ¡Elige tu reto y empieza a competir!"
                    ¿Te gustaría agregar algo más sobre las competencias, como
                    ejemplos o algún beneficio adicional?
                </p>

                <a class="btn-w-c-1">Empieza ya</a>
            </div>

            <div class="sub-content-inicio-izq" style="height: 463px">
                <img src="../../img/inicio/atletismo1.jpg">
            </div>
        </div>

        <div class="sub-content-inicio">
            <div class="sub-content-inicio-der">
                <h1>Gestión de Usuarios</h1>

                <p>
                    Explora una amplia variedad de competencias diseñadas
                    para todos los gustos e intereses. Inscríbete en aquellas
                    que se alineen con tus pasiones y objetivos, y demuestra
                    tus habilidades mientras te diviertes y te desafías.
                </p>

                <a class="btn-w-c-1">Ver mas</a>
            </div>

            <div class="sub-content-inicio-izq">
                <img src="../../img/inicio/gestor_users.jpg">
            </div>
        </div>

        <div class="sub-content-inicio">
            <div class="sub-content-inicio-der">
                <h1>Gestión de Competencias</h1>

                <p>
                    Explora una amplia variedad de competencias diseñadas
                </p>

                <a class="btn-w-c-1">Ver mas</a>
            </div>

            <div class="sub-content-inicio-izq">
                <img src="../../img/inicio/gestor_compe1.jpg">
            </div>
        </div>

        <div class="sub-content-inicio">
            <div class="sub-content-inicio-der">
                <h1>Competencias</h1>

                <p>

                    Explora una amplia variedad de competencias diseñadas
                    para todos los gustos e intereses. Inscríbete en aquellas
                    que se alineen con tus pasiones y objetivos, y demuestra
                    tus habilidades mientras te diviertes y te desafías.
                    ¡Elige tu reto y empieza a competir!"
                    ¿Te gustaría agregar algo más sobre las competencias, como
                    ejemplos o algún beneficio adicional?
                </p>

                <a class="btn-w-c-1">Empieza ya</a>
            </div>

            <div class="sub-content-inicio-izq">
                <img src="../../img/inicio/atletismo1.jpg">
            </div>
        </div>

        <h1 class="titulo">Bienvenido a la parte Principal</h1>

        <p>Rol actual: <span th:text="${#authentication.principal.authorities}">No disponible</span></p>

        <a th:href="@{/categoria/add}" sec:authorize="hasAnyRole('ADMIN')" class="btn btn-secondary">CATEGORÍA</a>
        <a th:href="@{/competencia/add}" sec:authorize="hasAnyRole('ADMIN')" class="btn btn-secondary">COMPETENCIA</a>
        <a th:href="@{/usuario/all}" sec:authorize="hasRole('ADMIN')" class="btn btn-secondary">USUARIOS</a>
        <a th:href="@{/competencia/all}"  class="btn btn-secondary">Tabla Competencias</a>
        <a th:href="@{/inscripcion/all}"  class="btn btn-secondary">Inscripciones Competencias</a>
        <a th:href="@{/puntuacion/all}"  class="btn btn-secondary">puntuaciones Competencias</a>



        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>

    </div>
</div>


<div th:replace="layout/footer :: footer"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Función para ajustar las alturas
        function adjustHeights() {
            const containers = document.querySelectorAll('.sub-content-inicio');
            containers.forEach(function (container) {
                const derContainer = container.querySelector('.sub-content-inicio-der');
                const izqContainer = container.querySelector('.sub-content-inicio-izq');
                const derHeight = derContainer.offsetHeight;
                izqContainer.style.height = `${derHeight}px`;
            });
        }

        // Ajuste inicial
        adjustHeights();

        // Observador para cambios dinámicos de tamaño
        const observer = new ResizeObserver(adjustHeights);
        const targets = document.querySelectorAll('.sub-content-inicio-der');

        targets.forEach((target) => {
            observer.observe(target);
        });
    });
</script>

</body>
</html>