<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="layout/head :: head"></th:block>

<body>
<div th:replace="layout/header :: header"></div>

<th:block th:replace="layout/background :: background"></th:block>

<div class="main-content">

    <div class="content-inicio">
        <h2>INICIO</h2>

        <!-- Tarjetas -->
        <div sec:authorize="hasRole('USER')"
             style="display: flex; flex-direction: column;  align-items: center; padding: 0 20px">
            <a th:href="@{/competencia/all}">
            <div class="sub-content-inicio scale">
                <div class="sub-content-inicio-der">
                    <h1>Competencias</h1>

                    <p>
                        Explora una amplia variedad de competencias diseñadas
                        para todos los gustos e intereses. Inscríbete en aquellas
                        que se alineen con tus pasiones y objetivos, y demuestra
                        tus habilidades mientras te diviertes y te desafías.
                        ¡Elige tu reto y empieza a competir!"
                        ¿Te gustaría agregar algo más sobre las competencias, como
                        ejemplos o algún beneficio adicional?
                    </p>

                    <!--
                    <a th:href="@{/competencia/all}"
                       class="btn-w-c-1">
                        Empieza ya
                    </a>-->
                </div>
            </a>

                <div class="sub-content-inicio-izq"
                     style="background-image: url('../../img/inicio/atletismo1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                </div>
            </div>

            <div class="sub-content-inicio scale">
                <div class="sub-content-inicio-der">
                    <h1>Historial</h1>

                    <p>
                        Explora una amplia variedad de competencias diseñadas
                        para todos los gustos e intereses. Inscríbete en aquellas
                        que se alineen con tus pasiones y objetivos, y demuestra
                        tus habilidades mientras te diviertes y te desafías.
                        ¡Elige tu reto y empieza a competir!"
                        ¿Te gustaría agregar algo más sobre las competencias, como
                        ejemplos o algún beneficio adicional?
                    </p>

                    <a th:href="@{/inscripcion/historial}"
                       class="btn-w-c-1">
                        Empieza ya
                    </a>
                </div>

                <div class="sub-content-inicio-izq"
                     style="background-image: url('../../img/inicio/atletismo1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
        </div>

        <div sec:authorize="hasAnyRole('ADMIN', 'GESTOR')"
             style="display: flex; flex-direction: column;  align-items: center; padding: 0 20px">
            <div class="sub-content-inicio scale">
                <div class="sub-content-inicio-der">
                    <h1>Gestión de Usuarios</h1>

                    <p>
                        Explora una amplia variedad de competencias diseñadas
                        para todos los gustos e intereses. Inscríbete en aquellas
                        que se alineen con tus pasiones y objetivos, y demuestra
                        tus habilidades mientras te diviertes y te desafías.
                    </p>

                    <a th:href="@{/usuario/all}"
                       class="btn-w-c-1">
                        Ver mas
                    </a>
                </div>

                <div class="sub-content-inicio-izq"
                     style="background-image: url('../../img/inicio/gestor_users.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>

            <div class="sub-content-inicio scale">
                <div class="sub-content-inicio-der">
                    <h1>Gestión de Competencias</h1>

                    <p>
                        Explora una amplia variedad de competencias diseñadas
                    </p>

                    <a th:href="@{/competencia/all}"
                       class="btn-w-c-1">
                        Ver mas
                    </a>

                </div>

                <div class="sub-content-inicio-izq"
                     style="background-image: url('../../img/inicio/gestor_compe1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
        </div>
        <!--
                <div class="sub-content-inicio">
                    <div class="sub-content-inicio-der">
                        <h1>Competencias</h1>

                        <p>

                            Explora una amplia variedad de competencias diseñadas
                            para todos los gustos e intereses. Inscríbete en aquellas
                            que se alineen con tus pasiones y objetivos, y demuestra
                            tus habilidades mientras te diviertes y te desafías.
                            ¡Elige tu reto y empieza a competir!"
                            ¿Te gustaría agregar algo más sobre las competencias, como
                            ejemplos o algún beneficio adicional?
                        </p>

                        <a class="btn-w-c-1">Empieza ya</a>
                    </div>

                    <div class="sub-content-inicio-izq">
                        <img src="../../img/inicio/atletismo1.jpg">
                    </div>
                </div>
        -->

    </div>
</div>


<div th:replace="layout/footer :: footer"></div>

</body>
</html>