<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="layout/head :: head"></th:block>

<body>
<div th:replace="layout/header :: header"></div>

<th:block th:replace="layout/background :: background"></th:block>

<div class="main-content">

    <div class="content-inicio">
        <h2>INICIO</h2>

        <!-- Tarjetas -->
        <div sec:authorize="hasRole('USER')"
             style="display: flex; flex-direction: column;  align-items: center; padding: 0 20px">
            <a th:href="@{/competencia/all}" class="sina">
                <div class="sub-content-inicio scale">
                    <div class="sub-content-inicio-der">
                        <h1>Competencias</h1>

                        <p>
                            Aquí encontrarás todas las competencias disponibles, tanto individuales como grupales, en
                            diversas disciplinas. Explora torneos gratuitos y de pago, elige en cuál participar y
                            demuestra tu talento en el ámbito deportivo. Ya sea que busques desafiarte a ti mismo o
                            competir en equipo, este espacio te ofrece una amplia variedad de opciones para poner a
                            prueba tus habilidades. Mantente al tanto de las fechas, categorías y requisitos de
                            inscripción para no perderte ninguna oportunidad. ¡Prepárate para la emoción de la
                            competencia y alcanza nuevas metas!s
                        </p>
                    </div>

                    <div class="sub-content-inicio-izq"
                         style="background-image: url('../../img/inicio/atletismo1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>

            <a th:href="@{/inscripcion/historial}" class="sina">
                <div class="sub-content-inicio scale">
                    <div class="sub-content-inicio-der">
                        <h1>Historial</h1>

                        <p>
                            En esta sección podrás ver todas las competencias en las que has participado. Consulta
                            detalles como fechas, categorías y resultados para llevar un seguimiento de tu progreso.
                            Revive tus mejores momentos, analiza tu desempeño y prepárate para futuras competencias.
                            ¡Sigue avanzando y supera tus propios límites!
                        </p>
                    </div>

                    <div class="sub-content-inicio-izq"
                         style="background-image: url('../../img/inicio/historial.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>
        </div>

        <div sec:authorize="hasAnyRole('GESTOR')"
             style="display: flex; flex-direction: column;  align-items: center; padding: 0 20px">

            <a th:href="@{/competencia/all}" class="sina">
                <div class="sub-content-inicio scale">
                    <div class="sub-content-inicio-der">
                        <h1>Gestión de Competencias</h1>

                        <p>
                            Administra y organiza todas las competencias de manera sencilla y eficiente. Crea nuevos
                            torneos, edita detalles como fechas, categorías y reglas, y gestiona la inscripción de
                            participantes. Supervisa el desarrollo de cada competencia en tiempo real y mantén todo bajo
                            control para garantizar una experiencia fluida y bien estructurada. ¡Toma el control y haz
                            que cada evento sea un éxito!
                        </p>
                    </div>

                    <div class="sub-content-inicio-izq"
                         style="background-image: url('../../img/inicio/gestor_compe1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>
        </div>


        <div sec:authorize="hasAnyRole('ADMIN')"
             style="display: flex; flex-direction: column;  align-items: center; padding: 0 20px">
            <a th:href="@{/usuario/all}" class="sina">
                <div class="sub-content-inicio scale">
                    <div class="sub-content-inicio-der">
                        <h1>Gestión de Usuarios</h1>

                        <p>
                            Administra y controla los perfiles de los usuarios registrados. Desde esta sección, puedes
                            ver, modificar y gestionar la información de los participantes, organizadores y
                            administradores, asignando roles y permisos según sea necesario. Supervisa la actividad,
                            historial de competencias y asegura un entorno organizado y seguro para todos. ¡Optimiza la
                            experiencia para cada usuario de manera eficiente!
                        </p>
                    </div>

                    <div class="sub-content-inicio-izq"
                         style="background-image: url('../../img/inicio/gestor_users.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>

            <a th:href="@{/competencia/all}" class="sina">
                <div class="sub-content-inicio scale">
                    <div class="sub-content-inicio-der">
                        <h1>Gestión de Competencias</h1>

                        <p>
                            Administra y organiza todas las competencias de manera sencilla y eficiente. Crea nuevos
                            torneos, edita detalles como fechas, categorías y reglas, y gestiona la inscripción de
                            participantes. Supervisa el desarrollo de cada competencia en tiempo real y mantén todo bajo
                            control para garantizar una experiencia fluida y bien estructurada. ¡Toma el control y haz
                            que cada evento sea un éxito!
                        </p>
                    </div>

                    <div class="sub-content-inicio-izq"
                         style="background-image: url('../../img/inicio/gestor_compe1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div th:replace="layout/footer :: footer"></div>

</body>
</html>