<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/head :: head"></th:block>

<head>
  <script src="https://js.stripe.com/v3/"></script> <!-- Incluye la biblioteca de Stripe -->
</head>

<body>

<div th:replace="layout/header :: header"></div>

<th:block th:replace="layout/background :: background"></th:block>

<div class="main-content" style="width: 100%;">
  <div class="content-inicio" style="width: 50%">
    <h2>Inscripción Grupal</h2>

    <div style="width: 100%; display: flex; flex-direction: column; justify-content: center; border-radius: 10px; align-items: center; overflow: hidden;">

      <p>Precio de la Inscripción: <span id="precio-inscripcion"
                                         th:text="${competencia.precioInscripcion} + ' €'"></span></p>

      <!-- Mostrar el precio total de inscripción -->
      <p>Precio de la Inscripción Total: <span id="precio-inscripcion-total">Calculando...</span></p>

      <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <button class="btn-w-c-1" style="margin-top: 0px; margin-bottom: 20px; width: 50%;" type="button"
                onclick="window.location.href='/competencia/all'">Volver al inicio
        </button>
      </div>

      <!-- Checkbox de aceptación de términos -->
      <div>
        <label>
          <input type="checkbox" id="accept-terms"> Acepto los <a href="/terms" target="_blank">términos y
          condiciones</a>
        </label>
      </div>

      <div style="width: 100%;">
        <!-- Formulario de inscripción -->
        <form id="payment-form" style="display: none;">
          <!-- Campo oculto para el ID de la competencia -->
          <input type="hidden" id="competencia-id" name="competenciaId" th:value="${competencia.id}"/>
          <!-- Campo oculto para el número de personas por grupo -->
          <input type="hidden" id="personas-por-grupo" name="personasPorGrupo"
                 th:value="${competencia.personasPorGrupo}"/>

          <!-- Nombre del equipo -->
          <div class="model-input">
            <label for="card-holder-equipo">Nombre de Equipo:</label>
            <div class="model-input-container">
              <i class="fa fa-pencil"></i>
              <input class="model-cont-input" type="text" id="card-holder-equipo" required>
            </div>
          </div>

          <!-- Correos de los participantes -->
          <div style="margin-top: 20px;">
            <h2 style="font-size: 20px; margin-bottom: 5px;">Correos de los Participantes</h2>
            <div id="email-container" style="margin-top: 10px;"></div>
            <!-- Contenedor dinámico para los campos de correo -->
          </div>

          <!-- Contenedor para el elemento de la tarjeta -->
          <div id="card-element"></div>

          <!-- Muestra errores -->
          <div id="card-errors" role="alert" style="color: red; margin-top: 10px;"></div>

          <!-- Botón para enviar -->
          <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
            <button class="btn-w-c-1" style="margin-bottom: 10px;" type="submit" id="card-button">Pagar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script>
  const stripe = Stripe("pk_test_51QWavTKX75wThlZA4ff4gIOT4IMlo7PminJsNKpSNLbKU2IbpTxXbdgVBneLsbfvVd90bhWbMBPWOo7dkf6UAemD00DLT6Paa0");
  const elements = stripe.elements();
  const cardElement = elements.create("card");
  cardElement.mount("#card-element");

  const form = document.getElementById("payment-form");
  const acceptTermsCheckbox = document.getElementById("accept-terms");

  acceptTermsCheckbox.addEventListener('change', function() {
    if (this.checked) {
      form.style.display = 'block';
    } else {
      form.style.display = 'none';
    }
  });

  const precioInscripcion = parseFloat(document.getElementById('precio-inscripcion').textContent.replace(' €', '').trim());
  const personasPorGrupo = document.getElementById('personas-por-grupo').value;
  const emailContainer = document.getElementById("email-container");

  // Calcula el precio total y actualiza el mensaje en el DOM
  const precioTotal = precioInscripcion * personasPorGrupo;
  document.getElementById("precio-inscripcion-total").textContent = `${precioTotal} €`;

  for (let i = 0; i < parseInt(personasPorGrupo); i++) {
    const emailDiv = document.createElement("div");
    emailDiv.style.marginBottom = "15px"; // Espaciado entre cada campo

    const emailLabel = document.createElement("label");
    emailLabel.textContent = `Correo electrónico del participante ${i + 1}`;
    emailLabel.style.display = "block"; // Mostrar la etiqueta arriba

    const emailInput = document.createElement("input");
    emailInput.type = "email";
    emailInput.name = `email-${i + 1}`;
    emailInput.placeholder = `Correo del participante ${i + 1}`;
    emailInput.required = true;
    emailInput.style.width = "100%"; // Ajustar el ancho al contenedor

    emailDiv.appendChild(emailLabel);
    emailDiv.appendChild(emailInput);
    emailContainer.appendChild(emailDiv);
  }

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const emails = [];
    for (let i = 0; i < personasPorGrupo; i++) {
      const emailInput = document.querySelector(`input[name=email-${i + 1}]`);
      emails.push(emailInput.value);
    }

    const correosConcatenados = emails.join(",");
    const equipo = document.getElementById("card-holder-equipo").value;
    const competenciaId = document.getElementById("competencia-id").value;

    // Multiplicamos el precio de inscripción por el número de participantes
    const totalAmount = precioInscripcion * personasPorGrupo * 100; // Convertimos a centavos para Stripe

    const { clientSecret } = await fetch("/payment/create-payment-intent", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ amount: totalAmount })
    }).then((r) => r.json());

    const { error, paymentIntent } = await stripe.confirmCardPayment(clientSecret, {
      payment_method: {
        card: cardElement,
        billing_details: {
          email: emails[0],
        },
      },
    });

    if (error) {
      document.getElementById("card-errors").textContent = error.message;
    } else if (paymentIntent && paymentIntent.status === "succeeded") {
      alert("Pago realizado con éxito");

      const inscripcionData = {
        paymentIntentId: paymentIntent.id,
        competenciaId: competenciaId,
        nombreEquipo: equipo,
        correoParticipantes: correosConcatenados,
      };

      const response = await fetch("/inscripcion/add_grupal_pago", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(inscripcionData)
      });

      if (response.ok) {
        alert("Inscripción guardada con éxito");
        window.location.href = "/competencia/all";
      } else {
        alert("Error al guardar la inscripción");
      }
    }
  });
</script>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>
